/* toggle-button */
/*
ul.dropdown-menu.show {
    width: 339px;
    height: 686px;
    background-color: #252324;
    padding-right: 20px;
    transform: translateX(49px);
}

.dropdown a {
    color: white;
    font-size: 234%;
    padding-left: 10%;
    display: block;
    padding-top: 14%;
}

.dropdown a:hover {
    color: gray;
    text-decoration: none;
}

.dropdown a img {
    width: 45px;
    height: 45px;
    color: gray;
}*/


/*Header*/
section{
    height: 100vh;
   
}

.toggleButton{
    margin-left:auto; 
    border:none; 
    background:transparent;
    float:right;
    padding-top:1vh;
    padding-right:1vw;
}
.navbarBar{
    background-color:white;
    height:8vh;
}

/* LOGO */

.logo1 {
    width: 17vh;
    transform: translateY(1vh);
    margin-right: 0%;
    float:left;
    padding-left: 1vw;
}

img.logo2 {
    height: 50%;
    width: 6%;
    transform: translateY(2%);
    float: left;
    padding-top: 1vh;
}
img.intro {
    width: 180vh;
    height: 50vh;   
}
button.ml-auto {
    border: none;
    background: none;
    margin-top: -5px;
}
.row.text {
    padding-top: 22px;
}
p.text1 {
    font-size: 155%;
    padding-left: 39vw;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
h4.text2 {
    font-size: 85%;
    padding-left: 39vw;
    padding-right: 30vw;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

button.register {
    margin-top: 0%;
    margin-left: 20vh;
    padding: 0% 6vh;
    border-radius: 10px;
    background: black;
    margin-bottom: 6vh;
}

p.register {
    color: white;
    font-size: 19px;
    letter-spacing: -0.9px;
    transform: translateX(-34px);
    transform: translateY(-1vh);
}

img.arrow {
    height: 4vh;
    width: 4vh;
    margin-top: 3vh;
    transform: translateX(4vw);
}

.boxContent{
   display: flex;
   align-items: center;
  
   margin: auto
}
.coverRegister{
    background-color:#fffffff2;padding-top:10%;padding-bottom:10%;
}
/*      
hr {
    margin-top: 65px;
} */
.row .logo .mt-5{
    display: flex;
}
.text3 {
    padding-left: 1vw;
    font-size: 1.3vh;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 2vh;
    padding-bottom: 0.7vh;
}
/*
h1.text3 {
    transform: translateY(-11px);
    transform: translateX(-40vw)
}*/

.group1 {
    transform: translateY(1vh);
}

.group2 {
    float: right;
    padding-right: 20px;
    transform: translateY(-6vh);
}


/* Register */
.input-group{
    padding-left:2vw;
}
.registerBg{
    background-image: url(img/bg-register.jpg);
    background-position: center center;
    height: 84vh;
    background-size: cover;
    display: flex
}
h3.moving {
    float: left;
    padding-left: 5%;
    color: #5d5b5b;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 3vh;
    padding-right: 13vw;
}
button.btn.next {
    border-radius: 50%;
    width: 15vh;
    padding-top: 2vh;
    padding-bottom: 7vh;
    margin-left: 24vw;
    border-color: gray;
    border: 2px solid #c5c5c5;
}
i.fas.fa-arrow-right {
    font-size: 4vh;
    transform: translateY(2vh);
}
.tel{
    color:gray;
    padding: 0 20px;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 20px;
    display: inline-flex;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}
input[type="checkbox"]:checked {
    border: 2px solid #2c4358;
  }

  .input-group-text.container {
    display: flex;
    width: 14vw;
    padding-left: 5vw;
    padding-top: 5vh;
    background:none; border:none;
}
/* Might want to wrap a span around your checkbox text */
/* .checkboxtext
{
    outline: 1px solid #1e5180;
  font-size: 110%;
  display: inline;
} */

.form-checkbox-item:not(#foo) label:before {
    border-style: solid;
    border-color: transparent;
}

/* Input form */

.coverFormInput{
    box-shadow: 15px 15px 15px rgb(226, 226, 226);  
}

input[type="text"] {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    font-family: 'Noto Sans HK', sans-serif;
}
input.form-control {
  
    width: 60%;
    border: none;
    background: #fffffffc;
 
}

h5.agree {
    color: gray;
    font-size: 2vh;
    margin-left: 1vw;
    font-size: 2vh;
    font-weight: 400;
    transform: translateY(-3vh);
}
.mr-1{
    padding-right:0.5vw;
}

/* Responsive */    


/*IP X*/
/*@media only screen and (device-width : 375px) and (device-height : 812px)  {
    h3.moving {
        font-size: 2vh!important
    }
    input.form-control {
    width: 26vmax!important
    }
    .text3 {
        font-size: 0vh;}
}
*/

/*Editing*/
/*Mobile*/ 
/*Min width*/


@media screen and (max-width: 300px) {
 
       h3.moving {
        font-size: 5vw;
        padding-right: 19vw;
    }
    .text3 {
        font-size: 0vh;}
    h5.agree {
    color: gray;
    font-size: 2vh;
    margin-left: 8vw;
    font-size: 1.5vh;
    font-weight: 400;
    transform: translateY(-2vh);
    position: absolute;
}
    button.btn.next {
        border-radius: 50%;
        width: 10vh;
        padding-top: 1vh;
        padding-bottom: 5vh;
        margin-left: 37vw;
        border-color: gray;
        border: 2px solid #c5c5c5;
        margin-top: 1vh;
    }

 
    input[type="text"] {
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 4vw;
    font-family: 'Noto Sans HK', sans-serif;
}
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  
      h3.moving {
    font-size: 6vw;
}
    .text3 {
        font-size: 0vh;}
    h5.agree {
        color: gray;
        font-size: 2vh;
        margin-left: 8vw;
        font-size: 2vh;
        font-weight: 400;
        transform: translateY(-3vh);
        position: absolute;
    }
    button.btn.next {
        border-radius: 50%;
        width: 10vh;
        padding-top: 1vh;
        padding-bottom: 5vh;
        margin-left: 37vw;
        border-color: gray;
        border: 2px solid #c5c5c5;
        margin-top: 1vh;
    }

 
}


@media screen and (min-width: 400px) and (max-width: 600px) {
   
       h3.moving {
        font-size: 5vw;
    }
    .text3 {
        font-size: 0vh;}
    h5.agree {
        color: gray;
        font-size: 2vh;
        margin-left: 8vw;
        font-size: 2vh;
        font-weight: 400;
        transform: translateY(-3vh);
        position: absolute;
    }
    button.btn.next {
        border-radius: 50%;
        width: 10vh;
        padding-top: 1vh;
        padding-bottom: 5vh;
        margin-left: 37vw;
        border-color: gray;
        border: 2px solid #c5c5c5;
        margin-top: 1vh;
    }
    .registerBg{
        background-image: url(img/bg-register.jpg);
        background-position: center center;
        height: 84vh;
        background-size: cover;
    }
 
}


/*Tablet*/

@media screen and (min-width: 800px) and (max-width: 999px) {

    .text3 {
        font-size: 0vh;
    }
    .input-group-text.container {
        display: flex;
        width: 23vw;
        padding-left: 5vw;
        padding-top: 5vh;
        background: none;
        border: none;
        height: 14vh;
    }
    input[type="text"] {
        font-size: 1vmax;
    }
    h5.agree {
        color: gray;
        font-size: 2vh;
        margin-left: 1vw;
        font-size: 2vh;
        font-weight: 400;
        transform: translateY(-4vh);
        position: absolute;
        padding-left: 4vw;
    }
    button.btn.next {
    margin-left: 20vw;
}
   h3.moving {
            padding-right: 9vw;
            position: initial;
    }
  

}

@media screen and (min-width: 600px) and (max-width: 799px) {
  
    .text3 {
        font-size: 0vh;
    }
    .input-group-text.container {
        display: flex;
        width: 23vw;
        padding-left: 5vw;
        padding-top: 5vh;
        background: none;
        border: none;
        height: 14vh;
    }
    input[type="text"] {
    font-size: 1.5vmax;
}
    h5.agree {
        color: gray;
        font-size: 2vh;
        margin-left: 1vw;
        font-size: 2vh;
        font-weight: 400;
        transform: translateY(-4vh);
        position: absolute;
        padding-left: 4vw;
    }
  
    h3.moving {
    padding-right: 13vw;
    width: -webkit-fill-available;
}
}



/*Large screen Max-width*/ 
/*
*/
/*done*/
@media screen and (min-width: 1000px) and (max-width: 1200px) { 
    h3.moving {
    font-size: 2.3vw;
    padding-right: 12vw;
    position: inherit;
}
  
     .text3 {
        font-size: 0vh;
    }
  

    h5.agree {
    color: gray;
    font-size: 2vh;
    margin-left: 3vw;
    font-size: 1.5vh;
    font-weight: 400;
    transform: translateY(-3vh);
    position: absolute;
}

    button.btn.next {
        border-radius: 50%;
        width: 10vh;
        padding-top: 2vh;
        padding-bottom: 4vh;
        margin-left: 22vw;
        border-color: gray;
        border: 2px solid #c5c5c5;
    }
    i.fas.fa-arrow-right {
    font-size: 4vh;
    transform: translateY(1vh);
    }
}

/*done*/
@media screen and (min-width: 1200px) and (max-width: 1400px) {
     h3.moving {
        padding-right: 38vw;
        font-size: 3vh;
        width: 23vw;
    }

 
    input[type="text"] {
    font-size: 2vh;
    }
    h5.agree {
    font-size: 2vh;
    margin-left: 4vw;
    transform: translateY(-3vh);
    position: absolute;
    }
}

